<!DOCTYPE html>
<html ng-app>
<head>
	<title>Form</title>
	<style>
		input.ng-invalid.ng-dirty{border:1px solid red;}
	</style>
</head>
<body>
<form name="frm">
	<div>
		<label for="">Email</label>
		<input type="email", name="email" ng-model="user.email" required>
		<span ng-show="frm.email.$dirty && frm.email.$error.required"> Required!</span>
		<span ng-show="frm.email.$dirty && frm.email.$error.email">not an email!</span>
	</div>
	<div>
	<label for="">Password</label>
	<input type="password"
		   name="password" 
		   ng-model="user.password" 
		   required 
		   ng-minlength="5"
		   ng-maxlength="10">
	<span ng-show="frm.password.$dirty && frm.password.$error.required"> Required!</span>
	<span ng-show="frm.password.$dirty && frm.password.$error.minlength">too short!</span>
	<span ng-show="frm.password.$dirty && frm.password.$error.maxlength">too long!</span>

	</div>
	<button ng-disabled="frm.$invalid"> Log In</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js">
	
</script>
</body>
</html>